@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-background-light: #fafafa;
  --color-background-dark: #202c36;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  transition: background-color 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--color-background-light);
}

.dark body {
  background-color: var(--color-background-dark);
}
